:root {
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* header */
.list {
  list-style: none;
}
.header {
  background: #ffffff;
}
.header-navigation {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-mail {
}
.header-phone {
}
.span {
  color: #2e2f42;
}
.link {
  text-decoration: none;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
