:root {
  --main-background-color: #ffffff;
  --second-color: #4d5ae5;
  --logo-color: #2e2f42;
  --text-color: #434455;
  --hover-color: #404bbf;
  --light-color: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* Header */

.header {
  color: var(--main-background-color);
}
.header-navigation {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.header-logostudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  width: 71px;
  height: 21px;
}

.header-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-item {
  background-color: var(--main-background-color);
}
.header-link {
  color: var(--logo-color);
}
.link-header:hover {
  color: var(--hover-color);
}

.link-header:focus {
  color: var(--hover-color);
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-link:hover {
  color: var(--hover-color);
}

.contact-link:focus {
  color: var(--hover-color);
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

________________________/* Main */___________________________

.button:hover {
  background-color: var(--hover-color);
}

.button:focus {
  background-color: var(--hover-color);
}
.button {
  cursor: pointer;
}

/* footer */
.span {
  color: var(--light-color);
}

.footer {
  background-color: var(--logo-color);
  color: #4d5ae5;
}
